header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  align-items: center;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-family: "Pacifico", serif;
  font-weight: bold;
}

.search-bar {
  width: 300px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 0 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  position: relative; /* Needed for the notification-count positioning */
}

.icon img {
  height: 23px;
  width: 23px;
}

.icon:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.notification {
  position: relative;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 2px;
  border-radius: 50%;
  min-width: 10px;
  text-align: center;
  height: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .search-bar {
    width: 200px;
  }

  .icons {
    width: 100px;
  }

  header {
    padding: 0 15px;
  }
}

@media screen and (max-width: 480px) {
  .search-bar {
    display: none;
  }

  .icons {
    width: fit-content;
  }

  header {
    justify-content: space-between;
  }
}
