body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #f7f7f7, #ffffff);
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.auth-card {
  background-color: #fff;
  width: 350px;
  padding: 40px 20px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-logo {
   font-family: "Pacifico", serif;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-input {
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  width: 90%;
  border-radius: 4px;
  background: #fafafa;
}

.auth-input:focus {
  outline: none;
  border-color: #a9a9a9;
}

.auth-button {
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #0095f6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #0077cc;
}

.auth-toggle {
  margin-top: 20px;
  font-size: 14px;
  color: #8e8e8e;
}

.auth-link {
  color: #0095f6;
  cursor: pointer;
  font-weight: bold;
}

.auth-link:hover {
  text-decoration: underline;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin: 5px 0 10px 0;
}


@media (max-width: 768px) {
  .auth-card {
    width: 75%;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; }

.spinner {
  width: 30px;
  height:30px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.show-hide-button {
  background: none;
  border: none;
  color: #0095f6; 
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px; 
  margin-left: -5px; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

.show-hide-button:hover {
  color: #0077cc; 
}

.show-hide-button:active {
  color: #005f99; 
  transform: scale(0.95); 
}


.show-hide-button::after {
  content: attr(title); 
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.password-input-container {
  position: relative;
  width: 100%; 
  display: flex;
  justify-content: space-between;
}